body {
  font-family: 'Kumbh Sans', sans-serif;
  margin-left: 200px;
  margin: 100px;
  margin-bottom: 800px;
}

.main {
  display: flex;
  border: 1px solid blue;
  height: 400px;
  width:900px ;
  padding: 0;
  justify-content: space-between;
  align-items: baseline;
}

.faq-container {
  
}

.image-icons {
  position: abosolute;
  margin-top: 200px;

}

.svg-1, .svg-2, .svg-3 {
  position: absolute;
  top: 0;
  left: 0;
}

.svg-1 {
  z-index: 1;
  padding: 0;
  width:300px;
}

.svg-2 {
  z-index: 3;
  margin-top: 540px;
  margin-left: 280px;

}

.svg-3 {
  z-index: 2;
  margin-top: 405px;
  margin-left: 290px;

}

.faq-item {
  display: flex;
  align-items: center;
}

.faq-item.faq-question {
  margin: 0;
}

.dropdown-button {
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
  }
  
  .dropdown-content.active{
    display: block;
  }

  .dropdown-button {
    transition: transform 0.3s ease;

  }

  .dropdown-button.active {
    transform: rotate(180deg);
  }

  .dropdown-icon {
    transition: transform 0.3s ease;
  }
  
  
  .dropdown-icon.active {
    transform: rotate(180deg);
  }
  